/.env
/.settings.yml
/main
/chromedriver
/data/*
!/data/.gitkeep
settings.json
.terraform/
*.svg.bkp
config
/mem.pprof
file_*.pdf
heap.*.pprof
.env.secret
__debug_bin
private.test.key
hosts.yml
hosts2.yml
hosts.test.yml
sampleDir.zip
private.key
.mypy_cache
__pycache__
private_pem.pem
public_pem.pem
venv/
private.abc.key