ansible==4.6.0
ansible-core==2.11.6
attrs==21.4.0
cffi==1.14.6
cryptography==36.0.1
Deprecated==1.2.13
iniconfig==1.1.1
Jinja2==3.0.2
MarkupSafe==2.0.1
packaging==21.0
pluggy==1.0.0
py==1.11.0
pycparser==2.20
pycryptodome==3.14.1
pyparsing==2.4.7
pytest==7.0.0
PyYAML==5.4.1
redis==4.0.2
resolvelib==0.5.4
tomli==2.0.1
wrapt==1.13.3
